
/Src/**/bin/
/Src/**/obj/
/Src/build*/

/Tool/**/bin/
/Tool/**/build*/
/Tool/**/obj/
/Tool/**/Debug*/
/Tool/**/Release*/

/Tool/Configuration.bat
/Tool/ConfigurationTool/ConfigurationTool/App.config

/Samples/**/bin/
/Samples/**/Obj/
/Samples/**/dist/

/Integration/**/bin/
/Integration/**/obj/
/Integration/**/Release*/
/Integration/**/Debug*/
/Integration/build*/

/Src/Debuging_Symbols/
/Src/DBLicense/x64/

*.sdf
*.suo
*.csproj.user
*.class
*.opensdf

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio

RnD/CSharpTest.Net.Collections/src/CSharpTest.Net.Collections/bin/
RnD/CSharpTest.Net.Collections/src/CSharpTest.Net.Collections/obj/
