<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ShardServerIP" value="20.200.20.21"/>
    <add key="ShardName" value="shard1"/>
    <add key="Port" value="2100"/>
    <add key="ConfigSession" value="OutProc"/>
    <add key="ConfigServerIP" value="20.200.20.21"/>
    <add key="LocalIP" value="20.200.20.21"/>
    <add key="ConfigServerPort" value="9950"/>
    <add key="Cluster" value="Cluster1"/>
    <add key="DataPath" value="X:\"/>
  </appSettings>
</configuration>
